@{
    ViewData["Title"] = "Delete Task";
}
@model Mission08_Group2_6.Models.TaskEntry


<h2>Confirm Delete: </h2>
<h4>Are you sure you want to delete @Model.TaskName from the Database?</h4>

<form method="post" asp-action="Delete">
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Cancel</a>
    <button class="btn" type="submit">Delete</button>
    <input type="hidden" asp-for="TaskId">
</form>